---
layout: default
---

{% include header.html %}

<div class="portfolio">
    <h1>Our Projects:</h1>
    <ul>
        {% for projects in site.data.projects %}
        <li>
            <a href="{{ site.url }}/{{ projects.name }}"> otlw-{{ projects.name}}</a>: {{projects.description}}
        </li>
        {% endfor %}
    </ul>
</div>


<div class="blog">
    <h1>Blog Posts:</h1>
    <ul>
        {% for post in site.posts %}
        <li>
            <span class="date">{{ post.date | date: '%Y %b %d' }}</span> - <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
<div>
  <h1><a href="https://gitter.im/otlw">Join us at our gitter</a></h1>
</div>
